@charset "utf-8";

body {
    background-color: #ed696569;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}

main {
    color: rgb(0, 0, 0);
    background-color: #ffffff6c;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;

}
main > h1 {
    color: #ed6a65;
    text-align: left;
    text-indent: 20px;
    margin: auto;
    padding: 10px;
}
main > p {
    color: #ed6a65;
    text-indent: 30px;
    text-align: justify;
}
 main > .dep {
     text-align: center;
     color:#ed6a65 ;
 }




header{

    background-color:#21bca5 ;
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px ;
    box-shadow:10px 10px 10px #0000004f ;
}





nav > a {
    text-decoration: none;
    margin: auto;
    padding: 3.5px;
    background-color: #ed6a65;
    color: #fdfdfd ;
    font-size: 20px;
    box-shadow: 1px 1px 1px #000000b9;
    border-radius: 8px;

}
nav > a:hover{
    color: #f70800;
    font-size: 21px ;
    cursor: pointer;


}









footer {
    background-color: #21bca5;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    margin: 0px;
    border-radius:10px

}

footer > p {
    text-align: center;
margin: 0px;

  
}

footer > p:hover {
color: #f70800;

}


footer > a {

    text-align: center;
}